In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
input_file_name = "/Users/abuzatu/Work/data/finance/stocks/Revolut/Revolut_trades_2020.txt"
input_file_name_end = "/Users/abuzatu/Work/data/finance/stocks/Revolut/Revolut_trades_2020_end.txt"
input_file_name_deposits = "/Users/abuzatu/Work/data/finance/stocks/Revolut/Revolut_trades_2020_deposits.txt"

In [3]:
def read_file(input_file_name):
    file = open(input_file_name, "r")
    lines = file.readlines()
    for line in lines:
        line = line.rstrip()
        # print(line)
        list_el = line.split()
        if len(list_el) != 5:
            print(list_el)
        stock = float(list_el[2])
        price = float(list_el[3])
        cash = float(list_el[4])
        if ((stock * price) + cash) > 0.01:
            print(list_el)
        if ((stock * price) * cash) > 0:
            print(list_el)
        
# read_file(input_file_name)

In [4]:
def get_date(x):
    list_el = x.split("/")
    return pd.to_datetime(f"2020-{list_el[0]}-{list_el[1]}")

def change_date(df):  
    df["date"] = df.date.map(lambda x: get_date(x))
    df.set_index("date", inplace = True)
    return df

# Deposits

In [5]:
df_deposit = pd.read_csv(input_file_name_deposits, delimiter=" ")
df_deposit

     date  deposit
0   03/23  1073.82
1   03/31  1094.76
2   04/03   393.04
3   04/06   300.00
4   05/13  1100.00
5   05/15  1948.29
6   05/27   770.28
7   06/23  1130.70
8   07/02   508.27
9   07/06  1403.67
10  07/08   702.37
11  07/09   933.40
12  07/13   937.15
13  07/13   936.99
14  07/13  1950.00
15  07/24   928.00
16  07/31  1178.13
17  09/03   767.89
18  11/19   300.00
19  12/04   900.00
20  12/04   200.00

In [6]:
df_deposit = change_date(df_deposit)
df_deposit

            deposit
date
2020-03-23  1073.82
2020-03-31  1094.76
2020-04-03   393.04
2020-04-06   300.00
2020-05-13  1100.00
2020-05-15  1948.29
2020-05-27   770.28
2020-06-23  1130.70
2020-07-02   508.27
2020-07-06  1403.67
2020-07-08   702.37
2020-07-09   933.40
2020-07-13   937.15
2020-07-13   936.99
2020-07-13  1950.00
2020-07-24   928.00
2020-07-31  1178.13
2020-09-03   767.89
2020-11-19   300.00
2020-12-04   900.00
2020-12-04   200.00

In [7]:
df_deposit.deposit.sum()

19456.760000000002

# Trades

In [8]:
df = pd.read_csv(input_file_name, delimiter=" ")
df

      date ticker      stock     price    cash
0    03/23   TSLA   2.000000  427.3999 -854.80
1    03/31     BA   2.000000  151.5095 -303.02
2    03/31    JNJ   3.000000  131.2300 -393.69
3    04/06     GE  40.000000    7.1495 -287.05
4    04/06     BA   3.000000  136.1095 -409.40
..     ...    ...        ...       ...     ...
891  12/28     LI   3.000000   26.9490  -80.85
892  12/28     LI   0.710575   26.9500  -19.15
893  12/28   BNTX   1.000000   88.1199  -88.12
894  12/28   BNTX   0.134816   88.1200  -11.88
895  12/28    NIO   0.595783   44.1100  -26.28

[896 rows x 5 columns]

In [9]:
# check
df["multiply"] = df["stock"] * df["cash"]
df[df["multiply"] > 0.0]

Empty DataFrame
Columns: [date, ticker, stock, price, cash, multiply]
Index: []

In [10]:
# the value cash should be used, as it takes into account also the fees paid for the trade
# for the first few months I paid 1 euro per trade, plus the fee from SEC of 0.01$ per trade
df["net"] = (df["stock"] * df["price"]) + df["cash"]
df.sort_values(by="net")

      date ticker       stock     price     cash       multiply       net
48   06/23   WORK -100.000000   34.1234  3411.12 -341112.000000 -1.220000
25   06/08   TSLA   -4.000000  948.6601  3793.43  -15173.720000 -1.210400
21   06/05    TSM  -68.000000   55.1900  3751.71 -255116.280000 -1.210000
35   06/11    DAL -100.000000   28.6655  2865.35 -286535.000000 -1.200000
28   06/09   NCLH   -0.877658   23.5000    19.43     -17.052887 -1.194953
..     ...    ...         ...       ...      ...            ...       ...
291  08/11    NIO  220.000000   13.6072 -2993.58 -658587.600000  0.004000
23   06/08   NCLH   92.000000   26.8095 -2466.47 -226915.240000  0.004000
392  08/19   SPCE   58.000000   17.7199 -1027.75  -59609.500000  0.004200
150  07/17     ZM  -11.000000  243.0405  2673.45  -29407.950000  0.004500
123  07/15    CCL -241.000000   16.5155  3980.24 -959237.840000  0.004500

[896 rows x 7 columns]

In [11]:
# maybe so much used in fees
df.net.sum()

-45.32186518590194

In [12]:
df.drop(["multiply", "net"], axis = 1, inplace = True)

In [13]:
df.head(2)

    date ticker  stock     price    cash
0  03/23   TSLA    2.0  427.3999 -854.80
1  03/31     BA    2.0  151.5095 -303.02

In [14]:
df = change_date(df)
df

           ticker      stock     price    cash
date
2020-03-23   TSLA   2.000000  427.3999 -854.80
2020-03-31     BA   2.000000  151.5095 -303.02
2020-03-31    JNJ   3.000000  131.2300 -393.69
2020-04-06     GE  40.000000    7.1495 -287.05
2020-04-06     BA   3.000000  136.1095 -409.40
...           ...        ...       ...     ...
2020-12-28     LI   3.000000   26.9490  -80.85
2020-12-28     LI   0.710575   26.9500  -19.15
2020-12-28   BNTX   1.000000   88.1199  -88.12
2020-12-28   BNTX   0.134816   88.1200  -11.88
2020-12-28    NIO   0.595783   44.1100  -26.28

[896 rows x 4 columns]

In [15]:
df.index[0]

Timestamp('2020-03-23 00:00:00')

In [16]:
df["counter"] = 1
df

           ticker      stock     price    cash  counter
date
2020-03-23   TSLA   2.000000  427.3999 -854.80        1
2020-03-31     BA   2.000000  151.5095 -303.02        1
2020-03-31    JNJ   3.000000  131.2300 -393.69        1
2020-04-06     GE  40.000000    7.1495 -287.05        1
2020-04-06     BA   3.000000  136.1095 -409.40        1
...           ...        ...       ...     ...      ...
2020-12-28     LI   3.000000   26.9490  -80.85        1
2020-12-28     LI   0.710575   26.9500  -19.15        1
2020-12-28   BNTX   1.000000   88.1199  -88.12        1
2020-12-28   BNTX   0.134816   88.1200  -11.88        1
2020-12-28    NIO   0.595783   44.1100  -26.28        1

[896 rows x 5 columns]

In [17]:
# group by ticker
df1 = df.groupby("ticker").agg("sum")
df1.drop(["price"], axis = 1, inplace = True)
df1["stock"] = df1["stock"].map(lambda x: round(x, 6))
df1

             stock     cash  counter
ticker
AAL      61.012522 -1022.09       22
AAPL      1.256691  -135.53       11
AMD       0.000440   519.44       24
AMZN      0.000000    -9.01        2
AZN       5.956712  -299.98        2
BA        0.007307   -91.69       13
BNTX     20.403537 -2092.56       13
CCL      16.920814  -413.45       23
DAL       0.000000  -438.27       15
ENPH      0.000818     8.17        2
F        11.047494   -82.35       14
FB        0.544847   -79.61       12
FSLR      0.000566    71.80       11
FSLY      0.004488   130.01       43
GE        0.000000   -27.07        2
GM        2.407145   -85.70       12
JKS       0.000194    36.62       14
JNJ       0.000000    47.56        2
LI       29.592698  -899.96        6
LUV       0.002956    43.35       28
MRNA      0.892055   398.20       21
NCLH     26.416196 -2775.57       30
NIO      27.630516   251.01       83
NKLA      0.012669  -368.52       41
NVAX      0.853609 -1098.76       74
NVDA      0.005024     6.32       12
PLUG      0.008533   458.14       19
RCL      -0.000000  -401.57        6
SEDG      0.000505    21.81       22
SPCE    376.159696 -9377.51      105
TSLA      0.006668    99.05       95
TSM       0.000000   317.18        5
UAL       0.000000   -87.27        3
VEEV      0.000268    27.00       22
W         0.003115   150.29       14
WORK      0.000677   183.06       16
XPEV     37.184930 -1746.27       22
ZM        1.582237  -692.34       35

In [18]:
# 39 shares traded
len(df1.index.unique())

38

In [19]:
df_AAPL = df[df.ticker == "AAPL"]
df_AAPL

           ticker     stock       price     cash  counter
date
2020-07-06   AAPL  5.000000  373.949500 -1869.75        1
2020-07-09   AAPL -5.000000  380.870000  1904.30        1
2020-07-15   AAPL  4.000000  388.289500 -1553.16        1
2020-07-15   AAPL  0.893250  388.290000  -346.84        1
2020-07-16   AAPL -2.000000  384.200000   768.40        1
2020-07-16   AAPL -2.000000  384.200000   768.40        1
2020-07-16   AAPL -0.893200  384.200000   343.12        1
2020-08-01   AAPL -0.000050  400.881940     0.02        1
2020-08-01   AAPL  0.000200  100.220485    -0.02        1
2020-11-12   AAPL  1.000000  119.380000  -119.38        1
2020-11-12   AAPL  0.256492  119.380000   -30.62        1

In [20]:
df_AAPL.iloc[0:7]

           ticker    stock     price     cash  counter
date
2020-07-06   AAPL  5.00000  373.9495 -1869.75        1
2020-07-09   AAPL -5.00000  380.8700  1904.30        1
2020-07-15   AAPL  4.00000  388.2895 -1553.16        1
2020-07-15   AAPL  0.89325  388.2900  -346.84        1
2020-07-16   AAPL -2.00000  384.2000   768.40        1
2020-07-16   AAPL -2.00000  384.2000   768.40        1
2020-07-16   AAPL -0.89320  384.2000   343.12        1

In [21]:
df_AAPL.iloc[0:7].cash.sum()

14.4699999999998

In [22]:
df_AAPL.iloc[0:7].stock.sum()

4.988999999988586e-05

In [23]:
df_TSLA = df[df.ticker == "TSLA"]
df_TSLA[0:100]

           ticker     stock     price     cash  counter
date
2020-03-23   TSLA  2.000000  427.3999  -854.80        1
2020-04-06   TSLA  1.000000  508.9795  -510.05        1
2020-05-01   TSLA -3.000000  758.8805  2276.58        1
2020-05-12   TSLA  4.000000  810.9995 -3245.08        1
2020-06-08   TSLA -4.000000  948.6601  3793.43        1
...           ...       ...       ...      ...      ...
2020-11-23   TSLA  1.000000  522.9599  -522.96        1
2020-11-23   TSLA  0.906857  522.9600  -474.25        1
2020-12-09   TSLA  0.499802  604.9800  -302.37        1
2020-12-17   TSLA -2.000000  638.2600  1276.52        1
2020-12-17   TSLA -0.400000  638.2600   255.26        1

[95 rows x 5 columns]

In [24]:
df_TSLA.cash.sum()

99.04999999999586

In [25]:
df_TSLA.stock.sum()

0.006668050000000814

In [26]:
df_9 = df[df.ticker == "MRNA"]
df_9

           ticker      stock     price     cash  counter
date
2020-08-18   MRNA  26.000000   66.9895 -1741.73        1
2020-08-18   MRNA   0.645917   66.9900   -43.27        1
2020-08-19   MRNA -26.000000   68.5100  1781.26        1
2020-08-19   MRNA  -0.645000   68.5100    44.14        1
2020-08-21   MRNA   7.000000   66.8700  -468.09        1
2020-08-21   MRNA  22.000000   66.8700 -1471.14        1
2020-08-21   MRNA   0.908778   66.8700   -60.77        1
2020-08-25   MRNA -15.000000   65.3100   979.65        1
2020-08-25   MRNA -14.000000   65.3100   914.34        1
2020-08-25   MRNA  -0.900000   65.3100    58.73        1
2020-11-12   MRNA   3.000000   86.0800  -258.24        1
2020-11-12   MRNA   0.485130   86.0800   -41.76        1
2020-11-18   MRNA   3.000000   89.5800  -268.74        1
2020-11-18   MRNA   0.348962   89.5800   -31.26        1
2020-12-16   MRNA  10.000000  136.9695 -1369.70        1
2020-12-16   MRNA   0.951303  136.9700  -130.30        1
2020-12-16   MRNA   7.000000  136.9600  -958.72        1
2020-12-16   MRNA   0.475540  136.9600   -65.13        1
2020-12-17   MRNA -25.000000  143.6100  3590.25        1
2020-12-17   MRNA  -0.270000  143.6100    38.68        1
2020-12-28   MRNA   0.891424  112.1800  -100.00        1

In [27]:
df_9.cash.sum()

398.19999999999953

In [28]:
df1.loc["ENPH"]

stock      0.000818
cash       8.170000
counter    2.000000
Name: ENPH, dtype: float64

In [29]:
df1.cash.sum()

-19456.07000000001

# Stocks at end of period

In [30]:
df_end = pd.read_csv(input_file_name_end, delimiter=" ")
df_end

   ticker   stock_end  unit_cost  total_cost  price_end
0     AAL   61.012522      14.75      900.00      15.77
1    AAPL    1.256691     119.38      150.02     132.69
2     AMD    0.000440      90.83        0.04      91.71
3     AZN    5.956712      50.36      299.98      49.99
4      BA    0.007307     171.07        1.25     214.06
5    BNTX   20.403537     102.56     2092.56      81.52
6     CCL   16.920814      17.73      300.01      21.66
7    ENPH    0.000818     158.95        0.13     175.47
8       F   11.047494       9.06      100.09       8.79
9      FB    0.544847     275.44      150.07     273.16
10   FSLR    0.000566      88.36        0.05      98.92
11   FSLY    0.004488      91.35        0.41      87.37
12     GM    2.407145      41.71      100.40      41.64
13    JKS    0.000194      51.56        0.01      61.87
14     LI   29.592698      30.41      899.96      28.83
15    LUV    0.002956      33.83        0.10      46.61
16   MRNA    0.892055     112.19      100.08     104.47
17   NCLH   26.416196      22.71      600.04      25.43
18    NIO   27.630516      42.57     1176.29      48.74
19   NKLA    0.012669      31.57        0.40      15.26
20   NVAX    0.853609     117.15      100.00     111.51
21   NVDA    0.005024     527.44        2.65     522.20
22   PLUG    0.008533      18.75        0.16      33.91
23   SEDG    0.000505     296.82        0.15     319.12
24   SPCE  376.159696      26.41     9934.73      23.73
25   TSLA    0.006668     539.89        3.60     705.67
26   VEEV    0.000268     260.96        0.07     272.25
27      W    0.003115     253.57        0.79     225.81
28   WORK    0.000677      29.53        0.02      42.24
29   XPEV   37.184930      47.54     1767.76      42.83
30     ZM    1.582237     428.74      678.37     337.32

In [32]:
df_end["value_end"] = df_end["stock_end"] * df_end["price_end"]
df_end

   ticker   stock_end  unit_cost  total_cost  price_end    value_end
0     AAL   61.012522      14.75      900.00      15.77   962.167476
1    AAPL    1.256691     119.38      150.02     132.69   166.750386
2     AMD    0.000440      90.83        0.04      91.71     0.040386
3     AZN    5.956712      50.36      299.98      49.99   297.776016
4      BA    0.007307     171.07        1.25     214.06     1.564164
5    BNTX   20.403537     102.56     2092.56      81.52  1663.296370
6     CCL   16.920814      17.73      300.01      21.66   366.504838
7    ENPH    0.000818     158.95        0.13     175.47     0.143510
8       F   11.047494       9.06      100.09       8.79    97.107473
9      FB    0.544847     275.44      150.07     273.16   148.830437
10   FSLR    0.000566      88.36        0.05      98.92     0.055973
11   FSLY    0.004488      91.35        0.41      87.37     0.392155
12     GM    2.407145      41.71      100.40      41.64   100.233534
13    JKS    0.000194      51.56        0.01      61.87     0.012000
14     LI   29.592698      30.41      899.96      28.83   853.157469
15    LUV    0.002956      33.83        0.10      46.61     0.137797
16   MRNA    0.892055     112.19      100.08     104.47    93.193032
17   NCLH   26.416196      22.71      600.04      25.43   671.763872
18    NIO   27.630516      42.57     1176.29      48.74  1346.711374
19   NKLA    0.012669      31.57        0.40      15.26     0.193330
20   NVAX    0.853609     117.15      100.00     111.51    95.185975
21   NVDA    0.005024     527.44        2.65     522.20     2.623695
22   PLUG    0.008533      18.75        0.16      33.91     0.289359
23   SEDG    0.000505     296.82        0.15     319.12     0.161267
24   SPCE  376.159696      26.41     9934.73      23.73  8926.269580
25   TSLA    0.006668     539.89        3.60     705.67     4.705443
26   VEEV    0.000268     260.96        0.07     272.25     0.073028
27      W    0.003115     253.57        0.79     225.81     0.703500
28   WORK    0.000677      29.53        0.02      42.24     0.028605
29   XPEV   37.184930      47.54     1767.76      42.83  1592.630536
30     ZM    1.582237     428.74      678.37     337.32   533.720313

In [33]:
df_end.value_end.sum()

17926.422895429703

In [34]:
df_end.total_cost.sum()

19360.19

In [35]:
len(df1)

38

In [36]:
len(df_end)

31

In [37]:
df_end

   ticker   stock_end  unit_cost  total_cost  price_end    value_end
0     AAL   61.012522      14.75      900.00      15.77   962.167476
1    AAPL    1.256691     119.38      150.02     132.69   166.750386
2     AMD    0.000440      90.83        0.04      91.71     0.040386
3     AZN    5.956712      50.36      299.98      49.99   297.776016
4      BA    0.007307     171.07        1.25     214.06     1.564164
5    BNTX   20.403537     102.56     2092.56      81.52  1663.296370
6     CCL   16.920814      17.73      300.01      21.66   366.504838
7    ENPH    0.000818     158.95        0.13     175.47     0.143510
8       F   11.047494       9.06      100.09       8.79    97.107473
9      FB    0.544847     275.44      150.07     273.16   148.830437
10   FSLR    0.000566      88.36        0.05      98.92     0.055973
11   FSLY    0.004488      91.35        0.41      87.37     0.392155
12     GM    2.407145      41.71      100.40      41.64   100.233534
13    JKS    0.000194      51.56        0.01      61.87     0.012000
14     LI   29.592698      30.41      899.96      28.83   853.157469
15    LUV    0.002956      33.83        0.10      46.61     0.137797
16   MRNA    0.892055     112.19      100.08     104.47    93.193032
17   NCLH   26.416196      22.71      600.04      25.43   671.763872
18    NIO   27.630516      42.57     1176.29      48.74  1346.711374
19   NKLA    0.012669      31.57        0.40      15.26     0.193330
20   NVAX    0.853609     117.15      100.00     111.51    95.185975
21   NVDA    0.005024     527.44        2.65     522.20     2.623695
22   PLUG    0.008533      18.75        0.16      33.91     0.289359
23   SEDG    0.000505     296.82        0.15     319.12     0.161267
24   SPCE  376.159696      26.41     9934.73      23.73  8926.269580
25   TSLA    0.006668     539.89        3.60     705.67     4.705443
26   VEEV    0.000268     260.96        0.07     272.25     0.073028
27      W    0.003115     253.57        0.79     225.81     0.703500
28   WORK    0.000677      29.53        0.02      42.24     0.028605
29   XPEV   37.184930      47.54     1767.76      42.83  1592.630536
30     ZM    1.582237     428.74      678.37     337.32   533.720313

In [38]:
df2 = df_end.merge(df1, on = "ticker", how = "outer")
df2

,ticker,stock_end,unit_cost,total_cost,price_end,value_end,stock,cash,counter
0,AAL,61.012522,14.75,900.00,15.77,962.167476,61.012522,-1022.09,22
1,AAPL,1.256691,119.38,150.02,132.69,166.750386,1.256691,-135.53,11
2,AMD,0.000440,90.83,0.04,91.71,0.040386,0.000440,519.44,24
3,AZN,5.956712,50.36,299.98,49.99,297.776016,5.956712,-299.98,2
4,BA,0.007307,171.07,1.25,214.06,1.564164,0.007307,-91.69,13
5,BNTX,20.403537,102.56,2092.56,81.52,1663.296370,20.403537,-2092.56,13
6,CCL,16.920814,17.73,300.01,21.66,366.504838,16.920814,-413.45,23
7,ENPH,0.000818,158.95,0.13,175.47,0.143510,0.000818,8.17,2
8,F,11.047494,9.06,100.09,8.79,97.107473,11.047494,-82.35,14
9,FB,0.544847,275.44,150.07,273.16,148.830437,0.544847,-79.61,12
10,FSLR,0.000566,88.36,0.05,98.92,0.055973,0.000566,71.80,11
11,FSLY,0.004488,91.35,0.41,87.37,0.392155,0.004488,130.01,43
12,GM,2.407145,41.71,100.40,41.64,100.233534,2.407145,-85.70,12
13,JKS,0.000194,51.56,0.01,61.87,0.012000,0.000194,36.62,14
14,LI,29.592698,30.41,899.96,28.83,853.157469,29.592698,-899.96,6
15,LUV,0.002956,33.83,0.10,46.61,0.137797,0.002956,43.35,28
16,MRNA,0.892055,112.19,100.08,104.47,93.193032,0.892055,398.20,21
17,NCLH,26.416196,22.71,600.04,25.43,671.763872,26.416196,-2775.57,30
18,NIO,27.630516,42.57,1176.29,48.74,1346.711374,27.630516,251.01,83
19,NKLA,0.012669,31.57,0.40,15.26,0.193330,0.012669,-368.52,41
20,NVAX,0.853609,117.15,100.00,111.51,95.185975,0.853609,-1098.76,74
21,NVDA,0.005024,527.44,2.65,522.20,2.623695,0.005024,6.32,12
22,PLUG,0.008533,18.75,0.16,33.91,0.289359,0.008533,458.14,19
23,SEDG,0.000505,296.82,0.15,319.12,0.161267,0.000505,21.81,22
24,SPCE,376.159696,26.41,9934.73,23.73,8926.269580,376.159696,-9377.51,105
25,TSLA,0.006668,539.89,3.60,705.67,4.705443,0.006668,99.05,95
26,VEEV,0.000268,260.96,0.07,272.25,0.073028,0.000268,27.00,22
27,W,0.003115,253.57,0.79,225.81,0.703500,0.003115,150.29,14
28,WORK,0.000677,29.53,0.02,42.24,0.028605,0.000677,183.06,16
29,XPEV,37.184930,47.54,1767.76,42.83,1592.630536,37.184930,-1746.27,22
30,ZM,1.582237,428.74,678.37,337.32,533.720313,1.582237,-692.34,35
31,AMZN,NaN,NaN,NaN,NaN,NaN,0.000000,-9.01,2
32,DAL,NaN,NaN,NaN,NaN,NaN,0.000000,-438.27,15
33,GE,NaN,NaN,NaN,NaN,NaN,0.000000,-27.07,2
34,JNJ,NaN,NaN,NaN,NaN,NaN,0.000000,47.56,2
35,RCL,NaN,NaN,NaN,NaN,NaN,-0.000000,-401.57,6
36,TSM,NaN,NaN,NaN,NaN,NaN,0.000000,317.18,5
37,UAL,NaN,NaN,NaN,NaN,NaN,0.000000,-87.27,3

In [39]:
# fill NaN falues with zero
df2.fillna(0.0, inplace = True)
df2

,ticker,stock_end,unit_cost,total_cost,price_end,value_end,stock,cash,counter
0,AAL,61.012522,14.75,900.00,15.77,962.167476,61.012522,-1022.09,22
1,AAPL,1.256691,119.38,150.02,132.69,166.750386,1.256691,-135.53,11
2,AMD,0.000440,90.83,0.04,91.71,0.040386,0.000440,519.44,24
3,AZN,5.956712,50.36,299.98,49.99,297.776016,5.956712,-299.98,2
4,BA,0.007307,171.07,1.25,214.06,1.564164,0.007307,-91.69,13
5,BNTX,20.403537,102.56,2092.56,81.52,1663.296370,20.403537,-2092.56,13
6,CCL,16.920814,17.73,300.01,21.66,366.504838,16.920814,-413.45,23
7,ENPH,0.000818,158.95,0.13,175.47,0.143510,0.000818,8.17,2
8,F,11.047494,9.06,100.09,8.79,97.107473,11.047494,-82.35,14
9,FB,0.544847,275.44,150.07,273.16,148.830437,0.544847,-79.61,12
10,FSLR,0.000566,88.36,0.05,98.92,0.055973,0.000566,71.80,11
11,FSLY,0.004488,91.35,0.41,87.37,0.392155,0.004488,130.01,43
12,GM,2.407145,41.71,100.40,41.64,100.233534,2.407145,-85.70,12
13,JKS,0.000194,51.56,0.01,61.87,0.012000,0.000194,36.62,14
14,LI,29.592698,30.41,899.96,28.83,853.157469,29.592698,-899.96,6
15,LUV,0.002956,33.83,0.10,46.61,0.137797,0.002956,43.35,28
16,MRNA,0.892055,112.19,100.08,104.47,93.193032,0.892055,398.20,21
17,NCLH,26.416196,22.71,600.04,25.43,671.763872,26.416196,-2775.57,30
18,NIO,27.630516,42.57,1176.29,48.74,1346.711374,27.630516,251.01,83
19,NKLA,0.012669,31.57,0.40,15.26,0.193330,0.012669,-368.52,41
20,NVAX,0.853609,117.15,100.00,111.51,95.185975,0.853609,-1098.76,74
21,NVDA,0.005024,527.44,2.65,522.20,2.623695,0.005024,6.32,12
22,PLUG,0.008533,18.75,0.16,33.91,0.289359,0.008533,458.14,19
23,SEDG,0.000505,296.82,0.15,319.12,0.161267,0.000505,21.81,22
24,SPCE,376.159696,26.41,9934.73,23.73,8926.269580,376.159696,-9377.51,105
25,TSLA,0.006668,539.89,3.60,705.67,4.705443,0.006668,99.05,95
26,VEEV,0.000268,260.96,0.07,272.25,0.073028,0.000268,27.00,22
27,W,0.003115,253.57,0.79,225.81,0.703500,0.003115,150.29,14
28,WORK,0.000677,29.53,0.02,42.24,0.028605,0.000677,183.06,16
29,XPEV,37.184930,47.54,1767.76,42.83,1592.630536,37.184930,-1746.27,22
30,ZM,1.582237,428.74,678.37,337.32,533.720313,1.582237,-692.34,35
31,AMZN,0.000000,0.00,0.00,0.00,0.000000,0.000000,-9.01,2
32,DAL,0.000000,0.00,0.00,0.00,0.000000,0.000000,-438.27,15
33,GE,0.000000,0.00,0.00,0.00,0.000000,0.000000,-27.07,2
34,JNJ,0.000000,0.00,0.00,0.00,0.000000,0.000000,47.56,2
35,RCL,0.000000,0.00,0.00,0.00,0.000000,-0.000000,-401.57,6
36,TSM,0.000000,0.00,0.00,0.00,0.000000,0.000000,317.18,5
37,UAL,0.000000,0.00,0.00,0.00,0.000000,0.000000,-87.27,3

As expected, the values in the stock column are identifical to those in the stock_end, since we add the trades of 2020, which are from the beginning of trading at Revolut to the end. But let's also check explicitely that it is the same for all

In [44]:
# There should be nothing here
df2[df2["stock_end"] - df2["stock"] > 0.001]

Empty DataFrame
Columns: [ticker, stock_end, unit_cost, total_cost, price_end, value_end, stock, cash, counter]
Index: []

In [45]:
df2.head(3)

,ticker,stock_end,unit_cost,total_cost,price_end,value_end,stock,cash,counter
0,AAL,61.012522,14.75,900.00,15.77,962.167476,61.012522,-1022.09,22
1,AAPL,1.256691,119.38,150.02,132.69,166.750386,1.256691,-135.53,11
2,AMD,0.000440,90.83,0.04,91.71,0.040386,0.000440,519.44,24

In [57]:
df2["real_total_cost"] = - df2["cash"]
df2

,ticker,stock_end,unit_cost,total_cost,price_end,value_end,stock,cash,counter,final,final2,unrealised_gain,real_total_cost
17,NCLH,26.416196,22.71,600.04,25.43,671.763872,26.416196,-2775.57,30,-2103.806128,-2175.53,71.723872,2775.57
20,NVAX,0.853609,117.15,100.00,111.51,95.185975,0.853609,-1098.76,74,-1003.574025,-998.76,-4.814025,1098.76
32,DAL,0.000000,0.00,0.00,0.00,0.000000,0.000000,-438.27,15,-438.270000,-438.27,0.000000,438.27
35,RCL,0.000000,0.00,0.00,0.00,0.000000,-0.000000,-401.57,6,-401.570000,-401.57,0.000000,401.57
19,NKLA,0.012669,31.57,0.40,15.26,0.193330,0.012669,-368.52,41,-368.326670,-368.12,-0.206670,368.52
0,AAL,61.012522,14.75,900.00,15.77,962.167476,61.012522,-1022.09,22,-59.922524,-122.09,62.167476,1022.09
6,CCL,16.920814,17.73,300.01,21.66,366.504838,16.920814,-413.45,23,-46.945162,-113.44,66.494838,413.45
4,BA,0.007307,171.07,1.25,214.06,1.564164,0.007307,-91.69,13,-90.125836,-90.44,0.314164,91.69
37,UAL,0.000000,0.00,0.00,0.00,0.000000,0.000000,-87.27,3,-87.270000,-87.27,0.000000,87.27
33,GE,0.000000,0.00,0.00,0.00,0.000000,0.000000,-27.07,2,-27.070000,-27.07,0.000000,27.07
30,ZM,1.582237,428.74,678.37,337.32,533.720313,1.582237,-692.34,35,-158.619687,-13.97,-144.649687,692.34
31,AMZN,0.000000,0.00,0.00,0.00,0.000000,0.000000,-9.01,2,-9.010000,-9.01,0.000000,9.01
14,LI,29.592698,30.41,899.96,28.83,853.157469,29.592698,-899.96,6,-46.802531,0.00,-46.802531,899.96
5,BNTX,20.403537,102.56,2092.56,81.52,1663.296370,20.403537,-2092.56,13,-429.263630,-0.00,-429.263630,2092.56
3,AZN,5.956712,50.36,299.98,49.99,297.776016,5.956712,-299.98,2,-2.203984,0.00,-2.203984,299.98
7,ENPH,0.000818,158.95,0.13,175.47,0.143510,0.000818,8.17,2,8.313510,8.30,0.013510,-8.17
21,NVDA,0.005024,527.44,2.65,522.20,2.623695,0.005024,6.32,12,8.943695,8.97,-0.026305,-6.32
1,AAPL,1.256691,119.38,150.02,132.69,166.750386,1.256691,-135.53,11,31.220386,14.49,16.730386,135.53
12,GM,2.407145,41.71,100.40,41.64,100.233534,2.407145,-85.70,12,14.533534,14.70,-0.166466,85.70
8,F,11.047494,9.06,100.09,8.79,97.107473,11.047494,-82.35,14,14.757473,17.74,-2.982527,82.35
29,XPEV,37.184930,47.54,1767.76,42.83,1592.630536,37.184930,-1746.27,22,-153.639464,21.49,-175.129464,1746.27
23,SEDG,0.000505,296.82,0.15,319.12,0.161267,0.000505,21.81,22,21.971267,21.96,0.011267,-21.81
26,VEEV,0.000268,260.96,0.07,272.25,0.073028,0.000268,27.00,22,27.073028,27.07,0.003028,-27.00
13,JKS,0.000194,51.56,0.01,61.87,0.012000,0.000194,36.62,14,36.632000,36.63,0.002000,-36.62
15,LUV,0.002956,33.83,0.10,46.61,0.137797,0.002956,43.35,28,43.487797,43.45,0.037797,-43.35
34,JNJ,0.000000,0.00,0.00,0.00,0.000000,0.000000,47.56,2,47.560000,47.56,0.000000,-47.56
9,FB,0.544847,275.44,150.07,273.16,148.830437,0.544847,-79.61,12,69.220437,70.46,-1.239563,79.61
10,FSLR,0.000566,88.36,0.05,98.92,0.055973,0.000566,71.80,11,71.855973,71.85,0.005973,-71.80
25,TSLA,0.006668,539.89,3.60,705.67,4.705443,0.006668,99.05,95,103.755443,102.65,1.105443,-99.05
11,FSLY,0.004488,91.35,0.41,87.37,0.392155,0.004488,130.01,43,130.402155,130.42,-0.017845,-130.01
27,W,0.003115,253.57,0.79,225.81,0.703500,0.003115,150.29,14,150.993500,151.08,-0.086500,-150.29
28,WORK,0.000677,29.53,0.02,42.24,0.028605,0.000677,183.06,16,183.088605,183.08,0.008605,-183.06
36,TSM,0.000000,0.00,0.00,0.00,0.000000,0.000000,317.18,5,317.180000,317.18,0.000000,-317.18
22,PLUG,0.008533,18.75,0.16,33.91,0.289359,0.008533,458.14,19,458.429359,458.30,0.129359,-458.14
16,MRNA,0.892055,112.19,100.08,104.47,93.193032,0.892055,398.20,21,491.393032,498.28,-6.886968,-398.20
2,AMD,0.000440,90.83,0.04,91.71,0.040386,0.000440,519.44,24,519.480386,519.48,0.000386,-519.44
24,SPCE,376.159696,26.41,9934.73,23.73,8926.269580,376.159696,-9377.51,105,-451.240420,557.22,-1008.460420,9377.51
18,NIO,27.630516,42.57,1176.29,48.74,1346.711374,27.630516,251.01,83,1597.721374,1427.30,170.421374,-251.01

Stocks still had shown at `stock_end` each at average `unit_cost`, with a `total_cost`, and a the `price_end` produce a `value_end`, where `value_end-total_cost` produces the unrealised gain on the stock

The real total gain

In [59]:
df2["unrealised_gain"] = df2["value_end"] - df2["total_cost"]
df2["total_gain"] = df2["value_end"] - df2["real_total_cost"]
df2["realised_gain"] = df2["total_gain"] - df2["unrealised_gain"]
df2["realised_gain2"] = - df2["real_total_cost"] + df2["total_cost"]
# df2["realised_gain"] = df2["value_end"] + df2["cash"]
df2.head(3)

,ticker,stock_end,unit_cost,total_cost,price_end,value_end,stock,cash,counter,final,final2,unrealised_gain,real_total_cost,total_gain,realised_gain,realised_gain2
17,NCLH,26.416196,22.71,600.04,25.43,671.763872,26.416196,-2775.57,30,-2103.806128,-2175.53,71.723872,2775.57,-2103.806128,-2175.53,-2175.53
20,NVAX,0.853609,117.15,100.00,111.51,95.185975,0.853609,-1098.76,74,-1003.574025,-998.76,-4.814025,1098.76,-1003.574025,-998.76,-998.76
32,DAL,0.000000,0.00,0.00,0.00,0.000000,0.000000,-438.27,15,-438.270000,-438.27,0.000000,438.27,-438.270000,-438.27,-438.27

In [60]:
# for each stock, calculate the value the stock has + the cash I spent on the stock
# to see if overall I am in positive or negative with this stock
df2["final"] = df2["value_end"] + df2["cash"]
# final2 uses the direct cost of buying, not the losses already made in the stock like final does
df2["final2"] = df2["total_cost"] + df2["cash"]
df2["final2"] = df2["final2"].map(lambda x: round(x, 6))
df2

,ticker,stock_end,unit_cost,total_cost,price_end,value_end,stock,cash,counter,final,final2,unrealised_gain,real_total_cost,total_gain,realised_gain,realised_gain2
17,NCLH,26.416196,22.71,600.04,25.43,671.763872,26.416196,-2775.57,30,-2103.806128,-2175.53,71.723872,2775.57,-2103.806128,-2.175530e+03,-2.175530e+03
20,NVAX,0.853609,117.15,100.00,111.51,95.185975,0.853609,-1098.76,74,-1003.574025,-998.76,-4.814025,1098.76,-1003.574025,-9.987600e+02,-9.987600e+02
32,DAL,0.000000,0.00,0.00,0.00,0.000000,0.000000,-438.27,15,-438.270000,-438.27,0.000000,438.27,-438.270000,-4.382700e+02,-4.382700e+02
35,RCL,0.000000,0.00,0.00,0.00,0.000000,-0.000000,-401.57,6,-401.570000,-401.57,0.000000,401.57,-401.570000,-4.015700e+02,-4.015700e+02
19,NKLA,0.012669,31.57,0.40,15.26,0.193330,0.012669,-368.52,41,-368.326670,-368.12,-0.206670,368.52,-368.326670,-3.681200e+02,-3.681200e+02
0,AAL,61.012522,14.75,900.00,15.77,962.167476,61.012522,-1022.09,22,-59.922524,-122.09,62.167476,1022.09,-59.922524,-1.220900e+02,-1.220900e+02
6,CCL,16.920814,17.73,300.01,21.66,366.504838,16.920814,-413.45,23,-46.945162,-113.44,66.494838,413.45,-46.945162,-1.134400e+02,-1.134400e+02
4,BA,0.007307,171.07,1.25,214.06,1.564164,0.007307,-91.69,13,-90.125836,-90.44,0.314164,91.69,-90.125836,-9.044000e+01,-9.044000e+01
37,UAL,0.000000,0.00,0.00,0.00,0.000000,0.000000,-87.27,3,-87.270000,-87.27,0.000000,87.27,-87.270000,-8.727000e+01,-8.727000e+01
33,GE,0.000000,0.00,0.00,0.00,0.000000,0.000000,-27.07,2,-27.070000,-27.07,0.000000,27.07,-27.070000,-2.707000e+01,-2.707000e+01
30,ZM,1.582237,428.74,678.37,337.32,533.720313,1.582237,-692.34,35,-158.619687,-13.97,-144.649687,692.34,-158.619687,-1.397000e+01,-1.397000e+01
31,AMZN,0.000000,0.00,0.00,0.00,0.000000,0.000000,-9.01,2,-9.010000,-9.01,0.000000,9.01,-9.010000,-9.010000e+00,-9.010000e+00
14,LI,29.592698,30.41,899.96,28.83,853.157469,29.592698,-899.96,6,-46.802531,0.00,-46.802531,899.96,-46.802531,0.000000e+00,0.000000e+00
5,BNTX,20.403537,102.56,2092.56,81.52,1663.296370,20.403537,-2092.56,13,-429.263630,-0.00,-429.263630,2092.56,-429.263630,-4.547474e-13,-4.547474e-13
3,AZN,5.956712,50.36,299.98,49.99,297.776016,5.956712,-299.98,2,-2.203984,0.00,-2.203984,299.98,-2.203984,0.000000e+00,0.000000e+00
7,ENPH,0.000818,158.95,0.13,175.47,0.143510,0.000818,8.17,2,8.313510,8.30,0.013510,-8.17,8.313510,8.300000e+00,8.300000e+00
21,NVDA,0.005024,527.44,2.65,522.20,2.623695,0.005024,6.32,12,8.943695,8.97,-0.026305,-6.32,8.943695,8.970000e+00,8.970000e+00
1,AAPL,1.256691,119.38,150.02,132.69,166.750386,1.256691,-135.53,11,31.220386,14.49,16.730386,135.53,31.220386,1.449000e+01,1.449000e+01
12,GM,2.407145,41.71,100.40,41.64,100.233534,2.407145,-85.70,12,14.533534,14.70,-0.166466,85.70,14.533534,1.470000e+01,1.470000e+01
8,F,11.047494,9.06,100.09,8.79,97.107473,11.047494,-82.35,14,14.757473,17.74,-2.982527,82.35,14.757473,1.774000e+01,1.774000e+01
29,XPEV,37.184930,47.54,1767.76,42.83,1592.630536,37.184930,-1746.27,22,-153.639464,21.49,-175.129464,1746.27,-153.639464,2.149000e+01,2.149000e+01
23,SEDG,0.000505,296.82,0.15,319.12,0.161267,0.000505,21.81,22,21.971267,21.96,0.011267,-21.81,21.971267,2.196000e+01,2.196000e+01
26,VEEV,0.000268,260.96,0.07,272.25,0.073028,0.000268,27.00,22,27.073028,27.07,0.003028,-27.00,27.073028,2.707000e+01,2.707000e+01
13,JKS,0.000194,51.56,0.01,61.87,0.012000,0.000194,36.62,14,36.632000,36.63,0.002000,-36.62,36.632000,3.663000e+01,3.663000e+01
15,LUV,0.002956,33.83,0.10,46.61,0.137797,0.002956,43.35,28,43.487797,43.45,0.037797,-43.35,43.487797,4.345000e+01,4.345000e+01
34,JNJ,0.000000,0.00,0.00,0.00,0.000000,0.000000,47.56,2,47.560000,47.56,0.000000,-47.56,47.560000,4.756000e+01,4.756000e+01
9,FB,0.544847,275.44,150.07,273.16,148.830437,0.544847,-79.61,12,69.220437,70.46,-1.239563,79.61,69.220437,7.046000e+01,7.046000e+01
10,FSLR,0.000566,88.36,0.05,98.92,0.055973,0.000566,71.80,11,71.855973,71.85,0.005973,-71.80,71.855973,7.185000e+01,7.185000e+01
25,TSLA,0.006668,539.89,3.60,705.67,4.705443,0.006668,99.05,95,103.755443,102.65,1.105443,-99.05,103.755443,1.026500e+02,1.026500e+02
11,FSLY,0.004488,91.35,0.41,87.37,0.392155,0.004488,130.01,43,130.402155,130.42,-0.017845,-130.01,130.402155,1.304200e+02,1.304200e+02
27,W,0.003115,253.57,0.79,225.81,0.703500,0.003115,150.29,14,150.993500,151.08,-0.086500,-150.29,150.993500,1.510800e+02,1.510800e+02
28,WORK,0.000677,29.53,0.02,42.24,0.028605,0.000677,183.06,16,183.088605,183.08,0.008605,-183.06,183.088605,1.830800e+02,1.830800e+02
36,TSM,0.000000,0.00,0.00,0.00,0.000000,0.000000,317.18,5,317.180000,317.18,0.000000,-317.18,317.180000,3.171800e+02,3.171800e+02
22,PLUG,0.008533,18.75,0.16,33.91,0.289359,0.008533,458.14,19,458.429359,458.30,0.129359,-458.14,458.429359,4.583000e+02,4.583000e+02
16,MRNA,0.892055,112.19,100.08,104.47,93.193032,0.892055,398.20,21,491.393032,498.28,-6.886968,-398.20,491.393032,4.982800e+02,4.982800e+02
2,AMD,0.000440,90.83,0.04,91.71,0.040386,0.000440,519.44,24,519.480386,519.48,0.000386,-519.44,519.480386,5.194800e+02,5.194800e+02
24,SPCE,376.159696,26.41,9934.73,23.73,8926.269580,376.159696,-9377.51,105,-451.240420,557.22,-1008.460420,9377.51,-451.240420,5.572200e+02,5.572200e+02
18,NIO,27.630516,42.57,1176.29,48.74,1346.711374,27.630516,251.01,83,1597.721374,1427.30,170.421374,-251.01,1597.721374,1.427300e+03,1.427300e+03

In [61]:
# sort by final
df2.sort_values(by="final2", inplace = True)
df2

,ticker,stock_end,unit_cost,total_cost,price_end,value_end,stock,cash,counter,final,final2,unrealised_gain,real_total_cost,total_gain,realised_gain,realised_gain2
17,NCLH,26.416196,22.71,600.04,25.43,671.763872,26.416196,-2775.57,30,-2103.806128,-2175.53,71.723872,2775.57,-2103.806128,-2.175530e+03,-2.175530e+03
20,NVAX,0.853609,117.15,100.00,111.51,95.185975,0.853609,-1098.76,74,-1003.574025,-998.76,-4.814025,1098.76,-1003.574025,-9.987600e+02,-9.987600e+02
32,DAL,0.000000,0.00,0.00,0.00,0.000000,0.000000,-438.27,15,-438.270000,-438.27,0.000000,438.27,-438.270000,-4.382700e+02,-4.382700e+02
35,RCL,0.000000,0.00,0.00,0.00,0.000000,-0.000000,-401.57,6,-401.570000,-401.57,0.000000,401.57,-401.570000,-4.015700e+02,-4.015700e+02
19,NKLA,0.012669,31.57,0.40,15.26,0.193330,0.012669,-368.52,41,-368.326670,-368.12,-0.206670,368.52,-368.326670,-3.681200e+02,-3.681200e+02
0,AAL,61.012522,14.75,900.00,15.77,962.167476,61.012522,-1022.09,22,-59.922524,-122.09,62.167476,1022.09,-59.922524,-1.220900e+02,-1.220900e+02
6,CCL,16.920814,17.73,300.01,21.66,366.504838,16.920814,-413.45,23,-46.945162,-113.44,66.494838,413.45,-46.945162,-1.134400e+02,-1.134400e+02
4,BA,0.007307,171.07,1.25,214.06,1.564164,0.007307,-91.69,13,-90.125836,-90.44,0.314164,91.69,-90.125836,-9.044000e+01,-9.044000e+01
37,UAL,0.000000,0.00,0.00,0.00,0.000000,0.000000,-87.27,3,-87.270000,-87.27,0.000000,87.27,-87.270000,-8.727000e+01,-8.727000e+01
33,GE,0.000000,0.00,0.00,0.00,0.000000,0.000000,-27.07,2,-27.070000,-27.07,0.000000,27.07,-27.070000,-2.707000e+01,-2.707000e+01
30,ZM,1.582237,428.74,678.37,337.32,533.720313,1.582237,-692.34,35,-158.619687,-13.97,-144.649687,692.34,-158.619687,-1.397000e+01,-1.397000e+01
31,AMZN,0.000000,0.00,0.00,0.00,0.000000,0.000000,-9.01,2,-9.010000,-9.01,0.000000,9.01,-9.010000,-9.010000e+00,-9.010000e+00
14,LI,29.592698,30.41,899.96,28.83,853.157469,29.592698,-899.96,6,-46.802531,0.00,-46.802531,899.96,-46.802531,0.000000e+00,0.000000e+00
5,BNTX,20.403537,102.56,2092.56,81.52,1663.296370,20.403537,-2092.56,13,-429.263630,-0.00,-429.263630,2092.56,-429.263630,-4.547474e-13,-4.547474e-13
3,AZN,5.956712,50.36,299.98,49.99,297.776016,5.956712,-299.98,2,-2.203984,0.00,-2.203984,299.98,-2.203984,0.000000e+00,0.000000e+00
7,ENPH,0.000818,158.95,0.13,175.47,0.143510,0.000818,8.17,2,8.313510,8.30,0.013510,-8.17,8.313510,8.300000e+00,8.300000e+00
21,NVDA,0.005024,527.44,2.65,522.20,2.623695,0.005024,6.32,12,8.943695,8.97,-0.026305,-6.32,8.943695,8.970000e+00,8.970000e+00
1,AAPL,1.256691,119.38,150.02,132.69,166.750386,1.256691,-135.53,11,31.220386,14.49,16.730386,135.53,31.220386,1.449000e+01,1.449000e+01
12,GM,2.407145,41.71,100.40,41.64,100.233534,2.407145,-85.70,12,14.533534,14.70,-0.166466,85.70,14.533534,1.470000e+01,1.470000e+01
8,F,11.047494,9.06,100.09,8.79,97.107473,11.047494,-82.35,14,14.757473,17.74,-2.982527,82.35,14.757473,1.774000e+01,1.774000e+01
29,XPEV,37.184930,47.54,1767.76,42.83,1592.630536,37.184930,-1746.27,22,-153.639464,21.49,-175.129464,1746.27,-153.639464,2.149000e+01,2.149000e+01
23,SEDG,0.000505,296.82,0.15,319.12,0.161267,0.000505,21.81,22,21.971267,21.96,0.011267,-21.81,21.971267,2.196000e+01,2.196000e+01
26,VEEV,0.000268,260.96,0.07,272.25,0.073028,0.000268,27.00,22,27.073028,27.07,0.003028,-27.00,27.073028,2.707000e+01,2.707000e+01
13,JKS,0.000194,51.56,0.01,61.87,0.012000,0.000194,36.62,14,36.632000,36.63,0.002000,-36.62,36.632000,3.663000e+01,3.663000e+01
15,LUV,0.002956,33.83,0.10,46.61,0.137797,0.002956,43.35,28,43.487797,43.45,0.037797,-43.35,43.487797,4.345000e+01,4.345000e+01
34,JNJ,0.000000,0.00,0.00,0.00,0.000000,0.000000,47.56,2,47.560000,47.56,0.000000,-47.56,47.560000,4.756000e+01,4.756000e+01
9,FB,0.544847,275.44,150.07,273.16,148.830437,0.544847,-79.61,12,69.220437,70.46,-1.239563,79.61,69.220437,7.046000e+01,7.046000e+01
10,FSLR,0.000566,88.36,0.05,98.92,0.055973,0.000566,71.80,11,71.855973,71.85,0.005973,-71.80,71.855973,7.185000e+01,7.185000e+01
25,TSLA,0.006668,539.89,3.60,705.67,4.705443,0.006668,99.05,95,103.755443,102.65,1.105443,-99.05,103.755443,1.026500e+02,1.026500e+02
11,FSLY,0.004488,91.35,0.41,87.37,0.392155,0.004488,130.01,43,130.402155,130.42,-0.017845,-130.01,130.402155,1.304200e+02,1.304200e+02
27,W,0.003115,253.57,0.79,225.81,0.703500,0.003115,150.29,14,150.993500,151.08,-0.086500,-150.29,150.993500,1.510800e+02,1.510800e+02
28,WORK,0.000677,29.53,0.02,42.24,0.028605,0.000677,183.06,16,183.088605,183.08,0.008605,-183.06,183.088605,1.830800e+02,1.830800e+02
36,TSM,0.000000,0.00,0.00,0.00,0.000000,0.000000,317.18,5,317.180000,317.18,0.000000,-317.18,317.180000,3.171800e+02,3.171800e+02
22,PLUG,0.008533,18.75,0.16,33.91,0.289359,0.008533,458.14,19,458.429359,458.30,0.129359,-458.14,458.429359,4.583000e+02,4.583000e+02
16,MRNA,0.892055,112.19,100.08,104.47,93.193032,0.892055,398.20,21,491.393032,498.28,-6.886968,-398.20,491.393032,4.982800e+02,4.982800e+02
2,AMD,0.000440,90.83,0.04,91.71,0.040386,0.000440,519.44,24,519.480386,519.48,0.000386,-519.44,519.480386,5.194800e+02,5.194800e+02
24,SPCE,376.159696,26.41,9934.73,23.73,8926.269580,376.159696,-9377.51,105,-451.240420,557.22,-1008.460420,9377.51,-451.240420,5.572200e+02,5.572200e+02
18,NIO,27.630516,42.57,1176.29,48.74,1346.711374,27.630516,251.01,83,1597.721374,1427.30,170.421374,-251.01,1597.721374,1.427300e+03,1.427300e+03

In [62]:
df2.final.sum()

-1529.6471045703115

In [63]:
df2.final2.sum()

-95.88000000000102

In [64]:
df2.realised_gain.sum()

-95.88000000001216

In [65]:
df2.realised_gain2.sum()

-95.88000000001125

In [67]:
df2.total_gain.sum()

-1529.6471045703115

In [68]:
df2.unrealised_gain.sum()

-1433.7671045702994

In [50]:
df_deposit.deposit.sum()

19456.760000000002

In [51]:
df2.value_end.sum()

17926.4228954297

In [52]:
df2.cash.sum()

-19456.070000000014

In [53]:
df2.total_cost.sum()

19360.190000000002

In [70]:
df2.value_end.sum() - df_deposit.deposit.sum()

-1530.3371045703025

In [71]:
df2.total_cost.sum() - df_deposit.deposit.sum()

-96.56999999999971

# Conclusion

A realised loss of 96.60 euro was obtained at Revolut in calendar year 2020.